# Python
__pycache__/
*.pyc
venv/
.venv/

# Vaqtinchalik
*.tmp
.DS_Store
Thumbs.db

# ESLATMA: static/video/ ichidagi 100 hovuz videosi (~1 GB) GITHUBGA YUKLANADI.
# Boshqa joydagi katta videolarni qo'shmaslik uchun:
/pipeline/*.mp4
